{% extends 'layout.html' %}

{% block body %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <div class="jumbotron text-center">
    <h1><b>CARTO</b></h1>
    <p class="lead">Madrid Postal Code Stats<br></p>
    {% if session.logged_in == NULL %}
    <p class="lead"><small>please login to view the stats</small></p>

      <a href="/register" class="btn btn-primary btn-lg">Register</a>
      <a href="/login" class="btn btn-primary btn-lg">Login</a>

    {% else %}

      <a href="/postal_codes/" class="btn btn-primary btn-lg">Stats</a>

    {% endif %}

  </div>

{% endblock %}